:host {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .spacing {
    min-width: 8px;
    height: 1px;
  }
}
